extends ../view/columns/twoColumnFull
block info
	block 2banner

block contentCol1_2
	//-p #{template} #{lang}

	a(href="#{linkProd01}")
		img(src="#{imgProd01}" border="0" alt="#{titleProd}" width="100%" hspace="0" vspace="0" style="max-width:100%;")


block contentCol2_2
	a(href="#{linkProd02}")
		img(src="#{imgProd02}" border="0" alt="#{titleProd}" width="100%" hspace="0" vspace="0" style="max-width:100%;")