extends ../view/columns/threeColumn

block info
	block infoContentArticleCol3

block contentCol1_3
	img.image(src="#{imgArt01}" border="0" alt="#{titleArticle01}" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| #{titleArticle01}
	.col-copy
		| #{quoteArt01}
	br
	a(href="#{linkArticle01}")
		| #{cta1}

block contentCol2_3
	img.image(src="#{imgArt02}" border="0" alt="#{titleArticle02}" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| #{titleArticle02}
	.col-copy
		| #{quoteArt02}
	br
	a(href="#{linkArticle02}")
		| #{cta1}

block contentCol3_3
	img.image(src="#{imgArt03}" border="0" alt="#{titleArticle03}" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| #{titleArticle03}
	.col-copy
		| #{quoteArt02}
	br
	a(href="#{linkArticle03}")
		| #{cta1}