extends ../view/columns/oneColumn
block info
	block ctaCustom
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		- var height 		= "36px"
		- var width			= "180px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "2px"
		- var lineheight 	= "44px"
		- var align 		= "center"
		- var fontSize		= "font-size: 15px;"

block contentCol1_1
	block heroImg
		tr
			td(align="center" bgcolor="#{bgCopy}")
				a(href="#{linkCTA}?ga_campaign=#{data}#{lang}#{trakingSource}" target="_blank")
					img(src="#{imgLink}#{heroImage800}" border="0" alt="#{header}" width="600" hspace="0" vspace="0" style="max-width:100%;")
		tr
			td.container-padding.content(align="center" bgcolor="#{bgColorCopy}")
				br
				.title(style="#{fontXXXL} #{fontSans} color:#{colorHeader};")
					| #{header}
				br
				.hr(style="border-bottom: 1px solid #092439;")
				br
				span(align="center" style="#{fontM} #{fontSans} color:#{colorCopy};")
					if row01
						| #{row01}
						br
					if row02
						| #{row02}
						br
					if row03
						| #{row03}
						br
		tr
			td(align="center"  bgcolor="#{bgColorCopy}")
				include ../view/cta/cta.jade
				br

