extends ../view/columns/oneColumn
block info
	block ctaCustom

block contentCol1_1
	block heroImg
		if coupon
			tr
				td(align="center" bgcolor="#{colorBlack}")
					span(style="#{center}#{fontSans} color:#{colorSecondary_};")
						br
						| #{couponCopyRow01}
						center
							br
							table(cellpadding="10" cellspacing="0" border="0" bgcolor="#{colorBlack}")
								tr
									td(style="border: 3px solid #{colorSecondary__};")
										span(style="#{fontXXXL} #{fontSans} color:#{colorPrimary};")
											| #{coupon}
						br
						span(style="#{center}#{fontSans}#{fontS} color:#{colorSecondary__};")
							| #{couponCopyRow02}
						br
						br
		if heroImage
			tr
				td(align="center" bgcolor="#{colorBlack}")
					a(href="#{linkCTA}?ga_campaign=#{data}#{lang}#{trakingSource}" target="_blank")
						img(src="#{imgLink}#{heroImage}" border="0" alt="#{heroImageheader}" width="600" hspace="0" vspace="0" style="max-width:100%;")
		if heroImageheader
			tr
				td.container-padding.content(align="center" bgcolor="#{colorBlack}")
					br
					.title(style="#{fontXXXL} #{fontSans} color:#{colorPrimary};")
						| #{heroImageheader}
					br
					.hr(style="border-bottom: 1px solid #{colorPrimary_};")
					br
					span(align="center" style="#{fontM} #{fontSans} color:#{colorSecondary_};")
						if row01
							| #{row01}
							br
						if row02
							| #{row02}
							br
						if row03
							| #{row03}
							br
		if cowntdown
			//- adding cowntDown is simple like this: setUp a cowntdown var in _heroImage.jade
			tr
				td.container-padding.content(align="center" bgcolor="#{colorBlack}")
					center
						img(src="http://www.solopx.com/staging/epi/EmailCountdownv01/gif.php?time=#{cowntdown}" border="0" alt="27-03" hspace="0" vspace="0" style="#{bold}#{fontXL}#{fontSans} color: #{containerBg}; max-width:100%; ")
						br
						br
						span(style="#{center}#{fontSans}#{fontS} color:#{colorSecondary__};")
							| #{copyCowntdown}
					br
					.hr(style="border-bottom: 1px solid #{colorPrimary_};")
					if size
						br
						table(cellpadding="5" cellspacing="0" border="0" width="100%")
							tr
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink01}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy01}
											//- (21)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink02}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy02}
											//- 5 (21)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink03}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy03}
											//- 5 (4)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink04}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy04}
											//- (1)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink05}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy05}
											//- (1)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink06}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy06}
											//- (85)
							tr
								td(height="1" cospan="100")
							tr
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink07}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy07}
											//- 5 (86)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink08}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy08}
											//- (115)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink09}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy09}
											//- 5 (1)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink10}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy10}
											//- (117)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink11}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy11}
											//- 5 (108)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink12}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy12}
											//- (111)
							tr
								td(height="1" cospan="100")
							tr
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink13}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy13}
											//- (117)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink14}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy14}
											//- 5 (110)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink15}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy15}
											//- (101)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink16}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy16}
											//- 5 (7)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink17}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy17}
											//- (45)
								td(width="1px") &nbsp;
								td.link(style="border: 1px solid #{colorPrimary}; #{center}")
									a(href="#{optionListLink18}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											| #{optionListCopy18}
											//- (7)
		tr
			td(align="center"  bgcolor="#{colorBlack}")
				br
				include ../view/cta/cta.jade
				br

