extends ../view/columns/oneColumn
block info
	block ctaCustom
	append
		- var padding 		= "padding: 0px 0px 0px 0px;"

block contentCol1_1
	block heroImg
		if coupon
			tr
				td(align="center" bgcolor="#{colorBlack}")
					span(style="#{center}#{fontSans} color:#{colorSecondary_};")
						br
						| #{couponCopyRow01}
						center
							br
							table(cellpadding="10" cellspacing="0" border="0" bgcolor="#{colorBlack}")
								tr
									td(style="border: 3px solid #{colorSecondary__};")
										span(style="#{fontXXXL} #{fontSans} color:#{colorPrimary};")
											| #{coupon}
						br
						span(style="#{center}#{fontSans}#{fontS} color:#{colorSecondary__};")
							| #{couponCopyRow02}
						br
						br
		if heroImage
			tr
				td(align="center" bgcolor="#{colorBlack}")
					a(href="#{linkCTA}?ga_campaign=#{data}#{lang}#{trakingSource}" target="_blank")
						img(src="#{imgLink}#{heroImage}" border="0" alt="#{heroImageheader}" width="600" hspace="0" vspace="0" style="max-width:100%;")
		if heroImageheader
			tr
				td.container-padding.content(align="center" bgcolor="#{colorBlack}")
					br
					.title(style="#{fontXXXL} #{fontSans} color:#{colorPrimary};")
						| #{heroImageheader}
					br
					.hr(style="border-bottom: 1px solid #{colorPrimary_};")
					br
					span(align="center" style="#{fontM} #{fontSans} color:#{colorSecondary_};")
						if row01
							| #{row01}
							br
						if row02
							| #{row02}
							br
						if row03
							| #{row03}
							br
		if cowntdown
			//- adding cowntDown is simple like this: setUp a cowntdown var in _heroImage.jade
			tr
				td.container-padding.content(align="center" bgcolor="#{colorBlack}")
					center
						img(src="http://www.solopx.com/staging/epi/EmailCountdownv01/gif.php?time=#{cowntdown}" border="0" alt="27-03" hspace="0" vspace="0" style="#{bold}#{fontXL}#{fontSans} color: #{containerBg}; max-width:100%; ")
						br
						br
						span(style="#{center}#{fontSans}#{fontS} color:#{colorSecondary__};")
							| #{copyCowntdown}
					br
					.hr(style="border-bottom: 1px solid #{colorPrimary_};")
		if optionRow
			tr
				td.container-padding.content(align="center" bgcolor="#{colorBlack}")
					table(cellpadding="5" cellspacing="0" border="0" width="100%")
						tr
							td(colspan="100" align="center")
								span(style="#{center}#{fontSans}#{fontL} color:#{colorPrimary};")
									| #{optionRowCopy}
						if optionRow > 0
							tr
								each val in optionLinks01
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}
						if optionRow > 1
							tr
								each val in optionLinks02
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}
						if optionRow > 2
							tr
								each val in optionLinks02
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}
						if optionRow > 3
							tr
								each val in optionLinks02
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}
						if optionRow > 4
							tr
								each val in optionLinks02
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}
						if optionRow > 5
							tr
								each val in optionLinks02
									td.link(style="border: 1px solid #{colorPrimary}; #{center}")
										a(href="#{val.url}" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
											span(style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
												| #{val.itemName}

		tr
			td(align="center"  bgcolor="#{colorBlack}")
				br
				include ../view/cta/cta.jade
				br

