extends ../view/columns/oneColumn.jade
block info
	include ../config
	append
		- var trakingSource = "_header&ga_medium=DEM&ga_source=NL"
		- var padding 		= "padding: 15px 10px 15px 0px;"

block contentCol1_1
	//- inspired from http://responsiveemailpatterns.com/patterns/navigation/top-links.html
	tr
		td(height="2" width="600" style="background-color: #{colorPrimary};")
	tr
		td.main_nav(width="600" style="padding: 0px 0px 0px 20px; background-color: #{colorSecondary};")
			table(cellpadding="0" cellspacing="0" width="100%" style="background-color: #{colorSecondary};")
				tr
					if Nav01
						td(align="center" style="#{padding}")
							a(href="#{NavLink01}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav01}
					if Nav02
						td(align="center" style="#{padding}")
							a(href="#{NavLink02}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav02}
					if Nav03
						td(align="center" style="#{padding}")
							a(href="#{NavLink03}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav03}
					if Nav04
						td(align="center" style="#{padding}")
							a(href="#{NavLink04}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav04}
					if Nav05
						td(align="center" style="#{padding}")
							a(href="#{NavLink05}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorSecondary_}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav05}
					if Nav06
						td(align="center" style="padding: 15px 20px 15px 20px; #{fontS} #{decNone} #{fontSans} background-color: #{colorPrimary};")
							a(href="#{NavLink06}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorPrimary_}; #{fontS} #{decNone} #{fontSans}")
								strong(style="color: #{colorPrimary_}; #{fontS} #{decNone} #{fontSans}")
									| #{Nav06}
