extends ../view/columns/oneColumn.jade
block info
	include ../config
	append
		if lang == "en"
			- var NavigationTraking			= "."
			- var Nav01 					= "FOOTBALL BOOTS"
			- var NavLink01 				= "http://www.football4u.it/en/football-boots.html"
			- var Nav02 					= "CLOTHING"
			- var NavLink02 				= "http://www.football4u.it/en/clothing.html"
			- var Nav03 					= "EQUIPMENT"
			- var NavLink03 				= "http://www.football4u.it/en/equipment.html"
			- var Nav04 					= "GOALKEEPER"
			- var NavLink04 				= "http://www.football4u.it/en/goalkeeper/goalkeeper.html"
			- var Nav05 					= "TEAMSPORT"
			- var NavLink05 				= "http://www.football4u.it/en/teamsport.html"
			- var Nav06 					= "CLEARANCE"
			- var NavLink06 				= "http://www.football4u.it/en/clearance.html"
		else
			- var NavigationTraking			= "."
			- var Nav01 					= "SCARPE"
			- var NavLink01 				= "http://www.football4u.it/it/scarpe-calcio.html"
			- var Nav02 					= "ABBIGLIAMENTO"
			- var NavLink02 				= "http://www.football4u.it/it/abbigliamento.html"
			- var Nav03 					= "ATTREZATURE"
			- var NavLink03 				= "http://www.football4u.it/it/accessori.html"
			- var Nav04 					= "PORTIERE"
			- var NavLink04 				= "http://www.football4u.it/it/portiere.html"
			- var Nav05 					= "TEAMSPORT"
			- var NavLink05 				= "http://www.football4u.it/it/teamsport.html"
			- var Nav06 					= "OUTLET"
			- var NavLink06 				= "http://www.football4u.it/it/outlet.html"

		- var colorNav 					= "#a2a2a2"
		- var bgColorNav 				= "#33333d"
		- var padding 					= "padding: 15px 10px 15px 0px;"
		- var trakingSource 			= "_header&ga_medium=DEM&ga_source=NL"

block contentCol1_1
	tr
		td(height="2" width="600" style="background-color: #b5ff00;")
	tr
		td.main_nav(width="600" style="padding: 0px 0px 0px 20px; background-color: #{bgColorNav};")
			table(cellpadding="0" cellspacing="0" width="100%" style="background-color: #{bgColorNav};")
				tr
					if Nav01
						td(align="center" style="#{padding}")
							a(href="#{NavLink01}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav01}
					if Nav02
						td(align="center" style="#{padding}")
							a(href="#{NavLink02}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav02}
					if Nav03
						td(align="center" style="#{padding}")
							a(href="#{NavLink03}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav03}
					if Nav04
						td(align="center" style="#{padding}")
							a(href="#{NavLink04}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav04}
					if Nav05
						td(align="center" style="#{padding}")
							a(href="#{NavLink05}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
								span(style="color: #{colorNav}; #{fontS} #{decNone} #{fontSans}")
									soan #{Nav05}
					if Nav06
						td(align="center" style="padding: 15px 20px 15px 20px; #{fontS} #{decNone} #{fontSans} background-color: #{colorPrimary};")
							a(href="#{NavLink06}?ga_campaign=#{data}#{lang}#{trakingSource}" style="color: #{colorSecondary}; #{fontS} #{decNone} #{fontSans}")
								strong(style="color: #{colorSecondary}; #{fontS} #{decNone} #{fontSans}")
									| #{Nav06}
