extends ../view/columns/oneColumn
block info
	block ctaCustom
	append
		- var padding 		= "padding: 0px 0px 0px 0px;"

block contentCol1_1
	block ourBrand
		tr
			td(align="center" bgcolor="#{colorBlack}")
				table(cellpadding="5" cellspacing="0" border="0" width="100%")
					tr
						td(colspan="100" align="center")
					if brandRow > 0
						tr
							td(width="20%" align="center" valign="middle" style="#{center}")
								span(style="#{center}#{fontSans}#{fontXS} color:#{colorPrimary};")
									| #{brandRowCopy}
							each val in brandLinks01
								td(width="20%" align="center" valign="middle" style="#{center}")
									a(href="#{val.url}" align="center" target="_blank" style="#{fontM} #{decNone} #{fontSans} color:#{colorPrimary};")
										img(src="#{imgLink}#{val.brandImage}" border="0" alt="#{val.itemName}" width="120" hspace="0" vspace="0" style="max-width:100%;")
