block config
	include ../config.jade

- var textColor  = "#a2a2a2"

table(border="0" width="100%" height="100%" cellpadding="0" cellspacing="0")
	tr
		td(align="left" width="10px")
		td(align="left" valign="middle" height="40px")
			small(style="#{fontXS} #{fontSans} color:#{textColor};")
				| #{previewCopy}

		td(align="right" valign="middle" height="40px")
			small(style="#{fontXS} #{fontSans} color:#{textColor};")
				| #{onlineVersionCopy} 
				nobr
					a(href="#{viewOnlineLink}" style="#{decNone} color:#{colorPrimary};" )
						span(style="color:#{colorSecondary}; #{decNone} color:#{colorPrimary};")
							| #{viewOnline}
		td(align="left" width="10px")
