extends ../views/col/twoColumnFull
block info
	block 2banner

block contentCol1_2
	//-p #{template} #{lang}
	a(href="#{linkBanner01}?ga_campaign=#{data}#{lang}_#{trakingSource}#{lastPartTraking}")
		img(src="#{imgLink}#{imgBanner01}" border="0" alt="#{copyBanner01}" target="_blank" width="100%" hspace="0" vspace="0" style="max-width:100%;")


block contentCol2_2
	a(href="#{linkBanner02}?ga_campaign=#{data}#{lang}_#{trakingSource}#{lastPartTraking}")
		img(src="#{imgLink}#{imgBanner02}" border="0" alt="#{copyBanner02}" target="_blank" width="100%" hspace="0" vspace="0" style="max-width:100%;")