block info
block colorInfoSingleCTA
	include ../config
	if site == "fiorentina"
		- var bgColor 					= colorSecondary
		- var imgBgColor 				= containerBg
		- var fontColor 				= colorPrimary
		- var borderBottomTop 			= colorSecondary_
		- var colorheaderCopySingleCTA 	= colorWhite

	if site == "lazio"
		- var bgColor 					= colorSecondary_
		- var imgBgColor 				= colorSecondary_
		- var fontColor 				= colorSecondary
		- var borderBottomTop 			= colorSecondary__
		- var colorheaderCopySingleCTA 	= colorSecondary

	if site == "f4u"
		- var bgColor 					= colorSecondary
		- var imgBgColor 				= colorSecondary_
		- var fontColor 				= colorPrimary
		- var borderBottomTop 			= colorSecondary__
		- var colorheaderCopySingleCTA 	= colorSecondary_

	if site == "default"
		- var colorBlack 				= colorBlack
		- var bgColor 					= colorBlack
		- var imgBgColor 				= containerBg
		- var fontColor 				= colorSecondary__
		- var borderBottomTop 			= colorPrimary_


block contentSingleCTA
	//-
		tr
			td
				p borderColor = #{borderColor}
	tr
		td.container-padding.content(align="center"  bgcolor="#{bgColor}")
			if headerCopySingleCTA
				span(style="#{center}#{fontSans}#{fontXXL} color:#{colorheaderCopySingleCTA};")
					| #{headerCopySingleCTA}
			else
				span
			if subHeaderCopySingleCTA
				span(style="#{center}#{fontSans}#{fontM} color:#{fontColor};")
					br
					| #{subHeaderCopySingleCTA}
				hr.hr(style="border-bottom: 1px solid #{borderBottomTop};")
			else
				span
			include ../views/cta.jade

