- var setTemplate = "preHeader"

block info
	- var trakingSource = "_preHeader"

block colorPreheader
	include ../config/config

	if site == "default"
		- var PreheaderHeight 			= "30px"
		- var PreheaderHPadding 		= "10px"

		- var preHeaderTitleMailBg 		= colorPrimaryLightB
		- var preHeaderFontColor 		= colorPrimaryDarkB
		- var preheaderLinkColor		= colorPrimaryDarkC

	if site == "fiorentina"
		- var PreheaderHeight 			= "30px"
		- var PreheaderHPadding 		= "10px"

		- var preHeaderTitleMailBg 		= colorPrimaryLightB
		- var preHeaderFontColor 		= colorPrimaryDarkB
		- var preheaderLinkColor		= colorPrimaryDarkC

table(border="0" width="100%" height="100%" cellpadding="0" cellspacing="0"  bgcolor="#{preHeaderTitleMailBg}")
	tr
		td(align="left" width="#{PreheaderHPadding}")
		td(align="left" valign="middle" height="#{PreheaderHeight}")
			small(style="#{fontXS} #{fontSans} color:#{preHeaderFontColor};")
				| #{titlePrevueNewsletter}
		td(align="right" valign="middle" height="#{PreheaderHeight}")
			small(style="#{fontXS} #{fontSans} color:#{preHeaderFontColor};")
				| #{onlineVersionCopy}
				nobr
					a(st-content="viewonline" href="#{viewOnlineLink}#{prefixTraking}#{data}#{lang}#{trakingSource}#{sufixTraking}" style="color:#{preheaderLinkColor};" target="_blank" )
						span(style="color:#{preheaderLinkColor};")
							| #{viewOnline}
		td(align="left" width="#{PreheaderHPadding}")
