block info
	- var imgSrc		= ""
	- var imgAlt		= ""
	- var imgTitle		=""

block style
	- var color			= "red"
	- var colorBg		= "red"
	- var font			= "sample font"

block template
	img(src="#{imgSrc}" alt="#{imgAlt}" title="#{imgTitle}"  style="#{color} #{colorBg} #{font}")