block info
- var product = false

block color
	if site == "default"
		- var heroImageBgColor 		= colorSecondary
		- var fontColor 			= colorSecondaryDarkB

	if site == "fiorentina"
		- var heroImageBgColor 		= colorSecondary
		- var fontColor 			= colorSecondaryDarkB
//- block content
tr
	td(align="center" valign="middle" bgcolor="#{heroImageBgColor}")
		a(href="#{linkCTA}#{prefixTraking}#{data}#{lang}__#{trakingSource}#{sufixTraking}" target="_blank")
			//- img.responsive(src="#{imgLink}#{heroImage}" border="0" alt="#{heroImageheader}" hspace="0" vspace="0" style="width: auto;")
			img.responsive( src="#{templateImagesPath}#{heroImage}_#{lang}.jpg" alt="#{heroImageheader}" width="600" height="525" style="display: block; border: 0; color:#{fontColor};#{fontSans}#{fontXXXL}")