mixin spacer(width, height, colspan)
	td(align="left" valign="top" style="font-size:0%;line-height:100%" colspan="#{colspan}")
		img(alt="" src="#{assets}images/spacer.gif" width="#{width}" height="#{height}" style="display:block;outline:none;text-decoration:none;border:none")

//- double CTA
mixin CTA( copy, link, bg, color, fontSize, fontFamily, fontWeight, paddingT, paddingB, paddingX, alighn  )
	td(align="center")
		table(bgcolor="#{bg}" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse")
			tr
				td(align="#{alighn}" valign="middle" style="padding: #{paddingT}px #{paddingX}px #{paddingB}px #{paddingX}px; #{fontSize} #{fontFamily}")
					a(href="#{link}" align="center" target="_blank" style="color: #{color}; text-decoration: none; #{fontWeight}")
						span( align="center" style="color: #{color}; text-decoration: none; #{fontWeight}") #{copy}