block ctaCustom
	block ctaOptions
		//- ////////////////////////////////////////////
		//-
		//-		01 = simple CTA (buy now or Acquista)
		//-		02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		//-
		//- ////////////////////////////////////////////
		- var buttonType 				= "01"
		- var width						= "200px"
		- var height 					= "44px"
		- var arcsize 					= "5%"
		- var radiusSize 				= "2px"
		- var lineheight 				= "44px"
		- var align 					= "center"
		- var fontSize					= "font-size: 14px; line-height: 11px;"

block ctaColor

	if site == "fiorentina"
		- var ctaColor			= colorTertiari
		- var ctaColor_			= colorWhite

	if site == "lazio"
		- var ctaColor			= colorPrimary
		- var ctaColor_			= colorWhite

	if site == "f4u"
		- var ctaColor			= colorPrimary
		- var ctaColor_			= colorPrimary_

table(width="100%" border="0" cellspacing="0" cellpadding="0" align="#{align}")
	tr
		td(align="#{align}")

			div
				//[if mso]
					<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{linkCTA}#{prefixTraking}#{data}#{lang}_#{trakingSource}#{sufixTraking}" style="height:#{height}; v-text-anchor:middle; width:#{width};" arcsize="#{arcsize}" strokecolor="#{ctaColor}" fillcolor="#{ctaColor}">
					<w:anchorlock/>
					<center style="color:#{ctaColor_};#{fontSans}#{fontSize}">!{ctaCopy} &rarr;</center>
					</v:roundrect>
					<![endif]
				a(href="#{linkCTA}#{prefixTraking}#{data}#{lang}_#{trakingSource}#{sufixTraking}" style="background-color:#{ctaColor}; border:1px solid #{ctaColor}; border-radius:#{radiusSize}; color:#{ctaColor_}; display:inline-block;#{fontSans}#{fontSize} line-height:#{lineheight}; text-align:center; text-decoration:none; width:#{width};-webkit-text-size-adjust:none;mso-hide:all;")

					//- simple CTA (buy now or Acquista)
					//- -----------------------------------------------------------------
					if buttonType == "01"
						strong
							//- see arrow on this page http://character-code.com/arrows-html-codes.php
							| !{ctaCopy} &raquo;
					//- CTA with price (buy at {price} or Acquista a {price})
					//- -----------------------------------------------------------------
					if buttonType == "02"
						if lang == "en"
							strong
								| !{ctaCopy} at #{priceProd}
						if lang == "it"
							strong
								| !{ctaCopy} a #{priceProd}