extends col/twoColumnFull.jade
block info
	include ../config
	- var trakingSource = "_header&ga_medium=DEM&ga_source=NL"
	if site == "fiorentina"
		- var bgcolor 			= colorWhite
		- var backgroundColor 	= colorWhite

	if site == "lazio"
		-var bgcolor 			= colorWhite
		- var backgroundColor 	= colorWhite

block contentCol1_2
	table(cellpadding="0" cellspacing="0" width="200" align="center")
		tr
			td(height="10px")
		tr
			td(align="center" valign="top")
				a(href="#{LogoImgLink}?ga_campaign=#{data}#{lang}#{trakingSource}" height="#{logoImgHeight}")
					img(src="#{imgLink}#{LogoStoreTxt}#{LogoImg}" alt="#{LogoStoreTxt}" style="display: block; border: 0; height: #{logoImgHeight} !important;")
		tr
			td(height="10px")


block contentCol2_2
	table(cellpadding="0" cellspacing="0" width="200" align="center" valign="top")
		tr
			td(height="10px" colspan="10")
		tr
			td(align="center" colspan="10")
				span(style="#{fontS} color: #{colorSecondary_};") #{folowUscopy}
		tr
			td(height="10px" colspan="10")
		tr
			if facebook
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{facebook}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}facebook.jpg" alt="facebook - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if twitter
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{twitter}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}twitter.jpg" alt="twitter - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if youTube
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{youTube}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}youtube.jpg" alt="youtube - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if flikr
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{flikr}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}flikr.jpg" alt="flikr - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if instagram
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{instagram}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}instagram.jpg" alt="instagram - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if gPlus
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{gPlus}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}gPlus.jpg" alt="gooogle Plus - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if blog
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{blog}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}blog.jpg" alt="blog - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if pinterest
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{pinterest}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}pinterest.jpg" alt="pinterest - #{siteName}" style="display: block; border: 0; height: auto !important;")
			if forSquare
				td(align="center" width="#{socilaIconWidth}" valign="top")
					a(href="#{forSquare}?ga_campaign=#{data}#{lang}#{trakingSource}")
						img(src="#{imgLink}forSquare.jpg" alt="forSquare - #{siteName}" style="display: block; border: 0; height: auto !important;")
		tr
			td(height="10px" colspan="10")