block info
	include ../config

if site == "verona"
	- var fontColor 	= colorSecondary
	- var linkColor		= colorWhite
	- var bgcolor 		= containerBg

if site == "fiorentina"
	- var fontColor 	= colorSecondary_
	- var linkColor		= colorPrimary
	- var bgcolor 		= containerBg

if site == "lazio"
	- var fontColor 	= colorBlack50
	- var linkColor		= colorSecondary
	- var bgcolor 		= containerBg

if site == "fir"
	- var fontColor 	= colorBlack50
	- var linkColor		= colorSecondary
	- var bgcolor 		= containerBg

if site == "f4u"
	- var fontColor 	= colorSecondary_
	- var linkColor		= colorPrimary
	- var bgcolor 		= containerBg

tr
	td(align="center" valign="top" bgcolor="#{bgcolor}")

		if site == "verona"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td
							table(cellpadding="0" cellspacing="0" width="200" align="center" valign="top")
								tr
									td(height="10px" colspan="10")
								tr
									td(align="center" colspan="10")
										span(style="#{fontS} color: #{colorSecondary};") #{folowUscopy}
								tr
									td(height="10px" colspan="10")
								tr
									if facebook
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{facebook}")
												img(src="#{imgLink}facebook.jpg" alt="facebook - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if twitter
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{twitter}")
												img(src="#{imgLink}twitter.jpg" alt="twitter - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if youTube
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{youTube}")
												img(src="#{imgLink}youtube.jpg" alt="youtube - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if flikr
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{flikr}")
												img(src="#{imgLink}flikr.jpg" alt="flikr - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if instagram
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{instagram}")
												img(src="#{imgLink}instagram.jpg" alt="instagram - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if gPlus
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{gPlus}")
												img(src="#{imgLink}gPlus.jpg" alt="gooogle Plus - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if blog
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{blog}")
												img(src="#{imgLink}blog.jpg" alt="blog - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if pinterest
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{pinterest}")
												img(src="#{imgLink}pinterest.jpg" alt="pinterest - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if forSquare
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{forSquare}")
												img(src="#{imgLink}forSquare.jpg" alt="forSquare - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if rugby2015
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{rugby2015}")
												img(src="#{imgLink}rugby2015.jpg" alt="rugby2015 - #{siteName}" style="display: block; border: 0; height: auto !important;")
									if trustPilot
										td(align="center" width="#{socilaIconWidth}" valign="top")
											a(href="#{trustPilot}")
												img(src="#{imgLink}trustPilot.jpg" alt="trustPilot - #{siteName}" style="display: block; border: 0; height: auto !important;")
								tr
									td(height="10px" colspan="10")
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.hvstore.it/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								if unsubscribeLink
									a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
									|.
								else
									p(style="font-size 30px; color: red") unsubscribe link?
								br
								br

		if site == "fiorentina"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.fiorentinastore.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								//- if unsubscribeLink
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br
								//- else
									p(style="font-size 30px; color: red") unsubscribe link?
		if site == "fir"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.firstore.it/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br
		if site == "dj"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.firstore.it/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br

		if site == "lazio"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.laziostyle.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}store.com
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br
		if site == "f4u"
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
					//- footer
					tr
						td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
							center
								br
								span.ios-footer
									//- contact
									| #{copyContact}
									a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
										span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
								br
								br
								| #{reasonCopy00}
								a(href="http://www.footbal4u.com/#{lang}#{prefixTraking}#{data}#{lang}#{reasonLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{LogoStoreTxt}.it
								| #{reasonCopy01}
								a(href="mailto:${email}$" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") ${email}$
								br
								| #{unsubscribeCopy}
								a(href="#{unsubscribeLink}" style="color:#{linkColor}; #{decNone}")
									span(style="color:#{linkColor}; #{decNone}") #{unsubscribeLinkCopy}
								|.
								br
								br

		//-
			- 600px container (white background)
			table.container(border="0" width="600" cellpadding="0" cellspacing="0")
				//- footer
				tr
					td.container-padding.footer-text(align="left" style="#{fontXS} #{fontSans} color: #{fontColor};")
						br
						br
						| xSample Footer text: © 2014 Acme, Inc.
						br
						br
						| You are receiving this email because you opted in on our website. Update your
						a(href="#" style="color:#{linkColor}; #{decNone}")
							span(style="color:#{linkColor}; #{decNone}") email preferences
						| or
						a(href="#" style="color:#{linkColor}; #{decNone}")
							span(style="color:#{linkColor}; #{decNone}") unsubscribe
						|.
						br
						br
						strong
							| Acme, Inc.
							br
						span.ios-footer
							| 123 Main St.
							br
							| Springfield, MA 12345
							br
							| #{copyContact}
							a(href="#{contactMailLink}"  style="color:#{linkColor}; #{decNone}")
								span(style="color:#{linkColor}; #{decNone}") #{copyContactMailLink}
						br
						br
						br
