block info
block color

block content
	tr
		td(align="center" bgcolor="#{bgColor}")
			span(style="#{center}#{fontSans} color:#{fontColor};")
				br
				| #{couponCopyRow01}
				center
					br
					table(cellpadding="10" cellspacing="0" border="0" bgcolor="#{bgColor}")
						tr
							td(style="border: 3px solid #{borderCoupon};")
								span(style="#{fontXXXL} #{fontSans} color:#{fontColorCoupon};")
									| #{coupon}
				br
				span(style="#{center}#{fontSans}#{fontS} color:#{colorNote};")
					| #{couponCopyRow02}
				br
				br