block info
block color

block content
tr
	td(align="center" bgcolor="#{bgcolor}")
		a(href="#{linkCTA}?ga_campaign=#{data}#{lang}#{trakingSource}" target="_blank")
			img(src="#{imgLink}#{heroImage}" border="0" alt="#{heroImageheader}" width="600" hspace="0" vspace="0" style="max-width:100%;")