
- var oldPriceProdColor		= "#b2b2b2"

if site == "fiorentina"
	- var priceProdColor		= "#4a2583"


a(href="#{linkCTA}?ga_campaign=#{data}#{lang}#{trakingSource}" target="_blank")
	img.image(src="#{imgProd}" border="0" alt="#{titleProd}" width="100%" hspace="0" vspace="0" style="max-width:100%;")
br
br
.titleProd(style="#{fontS}")
	strong
		| #{titleProd}
if oldPriceProd
	.subtitle(style="#{left}")
		table(cellpadding="0" cellspacing="0" border="0" width="150")
			tr
				td(style="#{center} border-top: solid 10px white; border-bottom: solid 10px white;")
					span(style="#{fontL}#{decThrough} color:#{oldPriceProdColor}")
						| #{oldPriceProd}
						sup(style="#{fontXS} #{normal} #{decNone} color: #{oldPriceProdColor}") €
				td(style="#{center} border-left-width: 1px; border-left-style: solid; border-left-color: #{oldPriceProdColor}; color:#{priceProdColor}")
					strong(style="#{fontXL}")
						| #{priceProd}
						sup(style="#{fontS} #{normal}") €
			tr
				td(colspan="2")
					include cta

else
	.subtitle(style="#{fontXL}")
		table(cellpadding="0" cellspacing="0" border="0" width="150")
			tr
				td(style="#{center}  border-top: solid 10px white; border-bottom: solid 10px white; border-left-width: 0px; border-left-style: solid; border-left-color: #{oldPriceProdColor}; color:#{priceProdColor}")
					strong(style="#{fontXL}")
						| #{priceProd}
						sup(style="#{fontS} #{normal}") €
			tr
				td
					include cta
br